[Desktop Entry]
Version=1.0
Type=Application
Name=Coronagraphic Visibility Tool
Comment=
Exec=/opt/conda/envs/cvt/bin/jwst-coronagraph-visibility-gui
Icon=non-starred
Path=/home/jovyan
Terminal=false
StartupNotify=false
