version: 2.1
orbs:
  hubploy:
    jobs:
      build-image:
        description: "Build an image via hubploy"
        parameters:
          deployment:
            type: string

        docker:
          - image: python:3.7-slim-buster
        working_directory: ~/repo
        steps:
          - checkout
          - run:
              name: Install git
              command: |
                apt-get update && apt-get install --yes --no-install-recommends git

          - restore_cache:
              keys:
                - v3.7-dependencies-{{ checksum "requirements.txt" }}
                # fallback to using the latest cache if no exact match is found
                - v3.7-dependencies-

          - run:
              name: install dependencies
              command: |
                python3 -m venv venv
                source venv/bin/activate
                pip install --upgrade -r requirements.txt
                echo 'export PATH="${HOME}/repo/venv/bin:$PATH"' >> ${BASH_ENV}

          - setup_remote_docker
          - save_cache:
              paths:
                - ./venv
              key: v3.7-dependencies-{{ checksum "requirements.txt" }}


          - run:
              name: Build image if needed
              command: |
                hubploy build << parameters.deployment >>  --commit-range ${COMMIT_RANGE}
              no_output_timeout: 60m

workflows:
  version: 2
  test-build-images:
    jobs:
      - hubploy/build-image:
          deployment: wfirst-sit
          name: wfirst-sit image build
          # Filters can only be per-job? wtf
          filters:
              branches:
                ignore:
                - staging
                - prod