jupyterhub:
  hub:
    extraConfig:
      templates: |
        ## Configure JupyterHub to look for the templates we inject with a ConfigMap
        c.JupyterHub.template_paths.insert(0, "/etc/jupyterhub/templates")
      tike: |
        c.Spawner.default_url = "/lab/tree/tike_content/content/Introduction.md"
        ## This works, but by setting the default notebook directory, users can't navigate to
        ## their home directory, meaning any files they create will wind up in the repo clone
        #c.Spawner.notebook_dir = "/home/jovyan/tike_content"
    extraVolumes:
      ## Make the hub pod be able to access a ConfigMap volume
      - name: hub-templates
        configMap:
          name: hub-templates
    extraVolumeMounts:
      ## Make the hub pod hub container mount that ConfigMap volume
      - mountPath: /etc/jupyterhub/templates
        name: hub-templates
  prePuller:
    continuous:
      enabled: true
  singleuser:
    image:
      tag: latest
      pullPolicy: Always
    profileList:
      - display_name: "TIKE Science Platform"
        default: true
    storage:
      dynamic:
        storageClass: "aws-efs"
    lifecycleHooks:
      postStart:
        exec:
          command: ["/opt/environments/post-start-hook"]
    extraEnv:
      CRDS_PATH:  /home/jovyan/crds_cache
      CRDS_SERVER_URL: https://jwst-crds.stsci.edu
    defaultUrl: "/lab"
    memory:
      guarantee: 4G
      limit: 10G
  cull:
    enabled: true
    timeout: 1800
    every: 60
