[Desktop Entry]
Version=1.0
Type=Application
Name=SAOImage ds9
Comment=
Exec=/opt/conda/bin/ds9
Icon=non-starred
Path=/home/jovyan
Terminal=false
StartupNotify=false
