[Desktop Entry]
Version=1.0
Type=Application
Name=DS9
Comment=
Exec=/opt/conda/envs/jwebbinar/bin/ds9
Icon=application-vnd.oasis.opendocument.chart
Path=/home/jovyan
Terminal=false
StartupNotify=false
