[Desktop Entry]
Version=1.0
Type=Application
Name=Jdaviz Specviz
Comment=
Exec=/opt/conda/envs/jwebbinar/bin/jdaviz --layout specviz /home/shared/preloaded-fits/spec.fits
Icon=applications-physics
Path=/home/jovyan
Terminal=false
StartupNotify=false
