[Desktop Entry]
Version=1.0
Type=Application
Name=DS9
Comment=
Exec=/opt/conda/envs/jdaviz/bin/jdaviz --layout specviz <file>
Icon=applications-physics
Path=/home/jovyan
Terminal=false
StartupNotify=false
