[Desktop Entry]
Version=1.0
Type=Application
Name=Jdaviz - SpecViz
Comment=
Exec=/opt/conda/envs/jdaviz/bin/jdaviz --layout specviz /home/jovyan/.jdaviz-example-data/specviz.fits
Icon=applications-python
Path=/home/jovyan
Terminal=false
StartupNotify=false
