aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.7.7
ansiwrap==0.8.4
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asdf==2.11.1
asdf-astropy==0.2.1
asdf-coordinates-schemas==0.1.0
asdf-standard==1.0.2
asdf-transform-schemas==0.2.2
asdf-wcs-schemas==0.1.1
asteval==0.9.26
astropy==5.0.4
astropy-sphinx-theme==1.1
astroquery==0.4.6
astroscrappy==1.1.0
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
babel==2.10.1
backcall==0.2.0
batman-package==2.4.8
beautifulsoup4==4.11.1
black==21.12b0
bleach==5.0.0
bokeh==2.4.2
boto3==1.23.1
botocore==1.26.1
bottleneck==1.3.4
bqplot==0.12.33
bqplot-image-gl==1.4.9
casa-formats-io==0.1
certifi==2021.10.8
certipy==0.1.3
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
ci-watson==0.6.1
click==8.1.3
cloudpickle==2.0.0
crds==11.14.0
cryptography==37.0.2
cycler==0.11.0
cython==0.29.29
dask[array]==2022.5.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.4
docutils==0.16
drizzle==1.13.4
dust-extinction==1.1
echo==0.6
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fast-histogram==0.10
fastjsonschema==2.15.3
filelock==3.7.0
fitsblender==0.4.2
flake8==4.0.1
fonttools==4.33.3
freetype-py==2.3.0
frozenlist==1.3.0
fsspec==2022.3.0
ginga==3.3.0
glue-astronomy==0.4.0
glue-core==1.3.0
glue-jupyter==0.12.0
glue-vispy-viewers==1.0.5
greenlet==1.1.2
grismconf==1.32
gwcs==0.18.1
h5py==3.6.0
healpy==1.15.2
hotsoss==0.1.7
hsluv==5.0.2
html5lib==1.1
idna==2.10
imageio==2.19.2
imagesize==1.3.0
importlib-metadata==4.11.3
importlib-resources==5.7.1
iniconfig==1.1.1
ipydatawidgets==4.2.0
ipyevents==2.0.1
ipygoldenlayout==0.4.0
ipykernel==6.13.0
ipympl==0.9.1
ipysplitpanes==0.2.0
ipython==8.3.0
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.7.0
ipyvuetify==1.8.2
ipywebrtc==0.6.0
ipywidgets==7.7.0
ipywidgets-bokeh==1.2.1
jdaviz==2.0.0
jedi==0.18.1
jeepney==0.8.0
jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
jplephem==2.17
json5==0.9.8
jsonschema==4.5.1
jupyter==1.0.0
jupyter-bokeh==3.0.4
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyter-desktop-server==0.1.3
jupyter-packaging==0.12.0
jupyter-server==1.17.0
jupyter-server-proxy==3.2.1
jupyter-telemetry==0.1.0
jupyterhub==1.5.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.13.0
jupyterlab-widgets==1.1.0
jwst==1.3.3
jwst-backgrounds==1.1.2
jwst-footprints==2.5.0
jwst-pancake @ git+https://github.com/spacetelescope/pandeia-coronagraphy.git@1d5ad4c641e7f637814bcc058ffa59b4d52911f2
jwxml==0.3.2
keyring==23.5.0
kiwisolver==1.4.2
locket==1.0.0
lockfile==0.12.2
lxml==4.8.0
mako==1.2.0
markupsafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mirage==2.2.1
mistune==0.8.4
mpl-scatter-density==0.7
multidict==6.0.2
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.5.0
nbformat==5.4.0
nbgitpuller==1.1.0
nbsphinx==0.8.8
ndcube==2.0.0rc1
nest-asyncio==1.5.5
networkx==2.8
nircam-gsim==1.60
notebook==6.4.11
notebook-shim==0.1.0
numpy==1.22.3
numpydoc==1.3.1
oauthlib==3.2.0
openpyxl==3.0.9
packaging==21.3
pamela==1.0.0
pandas==1.4.2
pandeia-engine==1.7
pandocfilters==1.5.0
pandokia==2.3.0
papermill==2.3.4
parsley==1.3
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
photutils==1.1.0
pickleshare==0.7.5
pillow==9.1.0
pip-tools==6.6.1
pipdeptree==2.2.1
platformdirs==2.5.2
pluggy==1.0.0
poppy==1.0.2
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pvextractor==0.3
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydeps==1.10.18
pyds9==1.8.1
pyerfa==2.0.0.1
pyfftw==0.13.0
pyflakes==2.4.0
pygments==2.12.0
pyopengl==3.1.6
pyopenssl==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
pysiaf==0.16.4
pysynphot==2.0.0
pytest==7.1.2
pytest-doctestplus==0.12.0
pytest-openfiles==0.5.0
python-daemon==2.3.0
python-dateutil==2.8.2
python-json-logger==2.0.2
pythreejs==2.3.0
pytz==2022.1
pyvo==1.3
pywavelets==1.3.0
pyyaml==6.0
pyzmq==22.3.0
qtconsole==5.3.0
qtpy==2.1.0
radio-beam==0.3.3
regex==2022.4.24
regions==0.6
requests==2.27.1
requests-mock==1.9.3
ruamel-yaml==0.17.21
ruamel-yaml-clib==0.2.6
s3transfer==0.5.2
scikit-image==0.19.2
scikit-learn==1.1.0
scipy==1.8.0
secretstorage==3.3.2
semantic-version==2.9.0
send2trash==1.8.0
sep==1.2.0
simpervisor==0.4
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spectral-cube==0.6.0
specutils==1.4.1
spherical-geometry==1.2.22
sphinx==3.5.4
sphinx-asdf==0.1.2
sphinx-astropy==1.7.0
sphinx-automodapi==0.14.1
sphinx-bootstrap-theme==0.8.1
sphinx-gallery==0.10.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlalchemy==1.4.36
stack-data==0.2.0
stcal==0.7.1
stdatamodels==0.2.4
stdlib-list==0.8.0
stpipe==0.3.3
stsci-image==2.3.5
stsci-imagestats==1.6.3
stsci-rtd-theme==0.0.2
stsci-stimage==0.2.5
stsci-tools==4.0.1
stsynphot==1.1.0
synphot==1.1.1
tenacity==8.0.1
terminado==0.15.0
testpath==0.6.0
textwrap3==0.9.2
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
tomli==1.2.3
tomlkit==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.2.1.post0
traittypes==0.2.1
tweakwcs==0.7.4
typing-extensions==4.2.0
urllib3==1.26.9
vispy==0.10.0
voila==0.3.5
wcwidth==0.2.5
webbpsf==1.0.0
webencodings==0.5.1
websocket-client==1.3.2
websockets==10.3
wheel==0.37.1
widgetsnbextension==3.6.0
xlrd==2.0.1
yarl==1.7.2
zipp==3.8.0

