jupyterhub:
  prePuller:
    continuous:
      enabled: true
  singleuser:
    image:
      tag: dev
    lifecycleHooks:
      postStart:
        exec:
          command: ["rsync", "/etc/default-home-contents/", "/home/jovyan"]
          #command: ["gitpuller", "https://github.com/spacetelescope/jupyterhub-user-content", "roman", "."]
    extraEnv:
      CRDS_PATH: "/home/jovyan/crds_cache"
      CRDS_SERVER_URL: "https://jwst-serverless.stsci.edu"
      CRDS_S3_ENABLED: "1"
      CRDS_S3_RETURN_URI: "0"
      CRDS_MAPPING_URI: "s3://dmd-test-crds/mappings/jwst"
      CRDS_REFERENCE_URI: "s3://dmd-test-crds/references/jwst"
      CRDS_CONFIG_URI: "s3://dmd-test-crds/config/jwst"
      CRDS_USE_PICKLES: "0"
      CRDS_DOWNLOAD_MODE: plugin
      CRDS_DOWNLOAD_PLUGIN: "crds_s3_get ${SOURCE_URL} ${OUTPUT_PATH} ${FILE_SIZE} ${FILE_SHA1SUM}"
    defaultUrl: "/lab"
    memory:
      guarantee: 512M
      limit: 1G
  auth:
    users:
      - cslocum@stsci.edu
      - jmiller@stsci.edu
      - gough@stsci.edu
      - jmatuskey@stsci.edu
    admin:
      users:
        - cslocum@stsci.edu
