diff --git a/deployments/roman/image/env-frozen/roman-cal/requirements.txt b/deployments/roman/image/env-frozen/roman-cal/requirements.txt
index 572112a..2b5db77 100644
--- a/deployments/roman/image/env-frozen/roman-cal/requirements.txt
+++ b/deployments/roman/image/env-frozen/roman-cal/requirements.txt
@@ -133,9 +133,9 @@ bokeh==2.4.3
-boto3==1.23.8
+boto3==1.23.9
-botocore==1.26.8
+botocore==1.26.9
@@ -187,7 +187,7 @@ cycler==0.11.0
 cython==0.29.30
-dask[array]==2022.5.1
+dask[array]==2022.5.2
@@ -466,7 +466,7 @@ jupyter-server-proxy==3.2.1
 jupyter-telemetry==0.1.0
-jupyterhub==1.5.0
+jupyterhub==2.3.0
 jupyterlab==3.4.2
@@ -673,6 +673,7 @@ packaging==21.3
